body {
	background: url("pics/background.png") no-repeat fixed center center;
	background-size: 100% auto;
	font: 100% arial, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}
div.text {
	margin: auto;
	width: 1024px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
div.code img {
	width: 100%;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
p {
	text-indent: 15px;
	text-align: left;
}
div.screen img {
	width: 100%;
	border: 2px solid red;
}
div.schema img {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
